body {
  background-image: url("../img/route29.png");
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 52.634% 47.366%;
  height: 90vh;
  margin: auto;
  padding-top: 2.5%;
  width: 65vw;
}

.hinge {
  flex: 3;
}

.hinge:nth-of-type(1) {
  border-bottom: 5px solid black;

}

.hinge:nth-of-type(3) {
  border-top: 5px solid black;
}

#image-screen {
  background-color: black;
  grid-column-start: 2;
  grid-row-start: 2;
}

#image-screen-border {
  background-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-bottom-left-radius: 30px;
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-template-columns: 12.5% 75% 12.5%;
  grid-template-rows: 10% 75% 15%;
}

#info-screen {
  background-color: black;
  border-radius: 5px;
  grid-column-start: 2;
  grid-row-start: 2;
}

#left-face {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% 50% auto;
}

#left-inside {
  display: grid;
  grid-template-columns: 90% 10%;
}

#left-side {
  background-color: red;
  display: grid;
  grid-template-rows: 20% 80%;
}

#lens-piece {
  background-color: darkred;
}

#right-page {
  background-color: red;
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 8% 25% 8% 25% auto;
}

#right-side {
  background-color: inherit;
  display: grid;
  grid-template-rows: 20% 80%;
}

#spine {
  background-color: crimson;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

#spine-main {
  flex: 20;
}
